name: Update Challenger Stats

on:
  schedule:
    - cron: "0 3 * * *" # tous les jours
  workflow_dispatch:

permissions:
  contents: write
  
jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run backend script
        run: npm run backend:dev
        env:
          RIOT_API_KEY: ${{ secrets.RIOT_API_KEY }}

      - name: Commit updated stats
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add public/results.json
          git commit -m "chore(stats): update challenger meta" || echo "No changes"
          git push
